<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>@Model.name</h2>
    <hr>
    <h3>Info</h3>
    <ul>
      <li>Notes: @Model.notes</li>
      <li>Balance: @Model.balance <form inline="inline" action="/patron/payfines/@Model.id" method="post">
        <input type="hidden" name="_method" value="PATCH">
        <input type="number" name="amount" value="">
        <button type="submit">Pay Fines</button>
      </form></li>
    </ul>
    <a href="patron/edit/@Model.id"><button type="button">Edit Patron</button></a>
    <hr>
    <h3>Check-Out</h3>
    <form action="/check-out/@Model.id" method="post">
      <input type="number" name="itemId">
      <button type="submit">Check Out</button>
    </form>
    <hr>
    <h3>Items Out</h3>
    <ul>
      @foreach(var copy in Model.GetItemsOut())
      {
        <li><a href="/patronview/copies/@copy.id">@copy.GetBook().title</a> Due: @copy.due_date.ToString()</li>
      }
    </ul>
    <hr>
    <h3>History</h3>
    <ol>
      @foreach(var copy in Model.GetHistory())
      {
        <li><a href="/patronview/copies/@copy.id">@copy.GetBook().title</a></li>
      }
    </ol>
    <br>
    <a href="/"><h3>Return home</h3></a>
  </body>
</html>
